@import 'tailwindcss';

html {
  -webkit-text-size-adjust: 100%;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1220px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: var(--color-white);
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

:root {
  --primary: #7000ff;
  --text-secondary: #64666e;
  --white: #fff;
  --black: #000;
  --dark-mod: #13263d;
  --red: red;
  --text-color: #1f2026;
  --catalog-bg: #e5e5ff;
  --card-bgc: #efefef;
  --text-green: #00a63e;
  --price-btn-hover: #5a00cc;
  --productDetailColor: #364153;
}

@theme inline {
  /* colors */
  --color-primary: var(--primary);
  --color-secondary: var(--text-secondary);
  --color-white: var(--white);
  --color-black: var(--black);
  --color-dark-mod: var(--dark-mod);
  --color-red: var(--red);
  --color-text-color: var(--text-color);
  --color-catalog-bg: var(--catalog-bg);
  --color-card-bgc: var(--card-bgc);
  --color-text-green: var(--text-green);
  --color-price-btn-hover: var(--price-btn-hover);
  --text-productDetailColor: var(--productDetailColor);
  /* colors */
  /* text */
  --text-title: 28px;
  --text-text: 14px;
  --text-card-text: 12px;
  /* text */
  /* breakpoints */
  --breakpoint-sm: 345px;
  --breakpoint-md: 580px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;
  /* breakpoints */
}
